# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Twisted2010/.vs/Twisted2010/v15/Browse.VC.db
Twisted2010/.vs/Twisted2010/v15/ipch/AutoPCH/eecae67f7b2f934d/TWISTED.ipch
Twisted2010/dumpfile.txt
Twisted2010/errfile.txt
Twisted2010/logfile.txt
Twisted2010/x64/Release/Twisted2010.iobj
Twisted2010/x64/Release/Twisted2010.ipdb
Twisted2010/x64/Release/Twisted2010.tlog/CL.command.1.tlog
Twisted2010/x64/Release/Twisted2010.tlog/CL.read.1.tlog
Twisted2010/x64/Release/Twisted2010.tlog/CL.write.1.tlog
Twisted2010/x64/Release/Twisted2010.tlog/link.command.1.tlog
Twisted2010/x64/Release/Twisted2010.tlog/link.read.1.tlog
Twisted2010/x64/Release/Twisted2010.tlog/link.write.1.tlog
Twisted2010/x64/Release/Twisted2010.tlog/Twisted2010.lastbuildstate
Twisted2010/x64/Release/Twisted2010.tlog/Twisted2010.write.1u.tlog
